@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: yellow;
}

h1 {
  font-size: 5em;
}

.excuse {
  font-size: 5em;
}
